 body{
 	font-family: 'Lato', sans-serif;
 }
 .header{
 	height:550px;
 	width: 100%;
 }
 .header h1,h2{
 	text-transform: uppercase;
 	font-weight: 100;
 }
 .btn-group .btn-menu{
 	background: #fff;
 	color:#000;
 }
.menu-item{
  background:#333;
  border:none;
  box-shadow:none;
  font-size:18px;
}
.menu-item>li>a{
  padding-top:15px;
}
.name{
	font-size:36px;
	background:#000;
	color:#fff;
	padding: 6px 12px
}
@media all and (max-width: 767px){
	.name{
		display: block;
		text-align: center;
	}
	.work:before{
		display:none;
	}
	.box:before{
		display:none;
	}
}
 .brand-name{
 	position: fixed;
 	top:0;
 	left:0;
 	width:100%;
 	padding: 40px;
 }
 .section{
 	position: relative;
 	text-align: center;
 	height:100%;
 	background: #009688; 
 }
 .work{
 	 width: 100%;
 	 position: relative;
 	 height: 100%;
	 z-index:0;
 }
.work::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 999;
    width: 100%;
    opacity: 0.7;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 800px;
    background-image: url(http://helpdesk.pcadv.org/img/web40.svg);
}
 .work .box{
   padding: 20px 0;
   margin-bottom:270px;
      margin-left: 70px;	
      position: relative;
 }
 .box::before{
 	content: '';
    position: absolute;
    top: 190px;
    left: 23%;
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 200px;
    background-image: url(https://raw.githubusercontent.com/pradypro/pradyutmeher/gh-pages/images/Capturemob.JPG);
 }
.box.two::before{
	background-image: url(https://raw.githubusercontent.com/pradypro/pradyutmeher/gh-pages/images/yostel.in-.png);
}
.tab-bar{
	background: rgba(255, 255, 255, 0.39);
    width: 609px;
	position:relative;
	z-index:999;
    margin: 0 auto;
	margin-bottom:30px;
    padding: 2px;
	border-radius: 17px;
}
 .title{
 	padding:30px 0;
 	margin:0 auto;
 	color:#fff;
 }
 .footer{
 	background: #fff;
 	height:800px;
 }
